<nav class="uk-navbar-container uk-navbar-dark" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">Hood Watch</a></li>
            <li><a href="#">Join Group</a></li>

        </ul>
    </div>
    <div class="uk-navbar-right">
        <a class="uk-navbar-toggle" uk-search-icon href="#"></a>
        <div class="uk-drop" uk-drop="mode: click; pos: left-center; offset: 0">
            <form class="uk-search uk-search-navbar uk-width-1-1" action="" method="post">
                {% csrf_token %}
                <input class="uk-search-input" name="images" type="search" placeholder="Search..." autofocus>
            </form>
        </div>
        {% if user.is_authenticated %}
        <ul class="uk-iconnav ">
            <li>
                <a href="{% url 'post'  %}" uk-icon="icon: cloud-upload "></a>
            </li>
            <li>
                <a href="{% url 'myProfile' %}" uk-icon="icon: user"></a>
            </li>
            <li>
                <a href="/logout" uk-icon="icon: sign-out"></a>
            </li>
        </ul>
        {% else %}
        <a href="#" uk-icon="icon: sign-in"></a>
        {% endif %}
    </div>
</nav>