{%extends "registration/base.html"%} {% load bootstrap3 %} {% block content %}
<div class="uk-card uk-card-default uk-grid-collapse uk-child-width-1-2@s uk-margin" uk-grid>
    <div class="uk-card-media-left uk-cover-container">
        <img src="https://fthmb.tqn.com/i1BQsuAFJw0K8a0bHikJhZZ4asY=/960x0/filters:no_upscale()/walkinginneighborhood-56a67e613df78cf7728eabde.jpg" alt="" uk-cover>
        <canvas width="900" height="500"></canvas>
    </div>
    <div>
        <div class="uk-card-body">
            {% if form.errors %}
            <p> Some Information Might be Incorrect </p>
            {% endif %}
            <h3 class="uk-card-title">Register</h3>
            <form action="/accounts/register/" method="post">
                {% csrf_token %}
                <div class="uk-margin">
                    <input class="uk-input uk-form-width-large" type="text" placeholder="username">
                </div>
                <div class="uk-margin">
                    <input class="uk-input uk-form-width-large" type="email" placeholder="email">
                </div>
                <div class="uk-margin">
                    <input class="uk-input uk-form-width-large" type="password" placeholder="password">
                </div>
                <div class="uk-margin">
                    <input class="uk-input uk-form-width-large" type="password" placeholder="confirm password">
                </div>
                <div class="uk-margin">
                    <button class="uk-button uk-button-primary" type="submit" value="login">Register</button>
                </div>
                <input type="hidden" name="next" value="{{next}}">
            </form>
        </div>
    </div>
</div>
{% endblock %}